<nav
  class="bg-white shadow-md fixed w-full z-10 top-0 left-0 border-b border-gray-100"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex items-center cursor-pointer" routerLink="/">
        <img src="logo-edujob.png" alt="EduJob Logo" class="h-10 w-auto mr-3" />
        <span class="font-bold text-2xl text-edu-blue"
          >Edu<span class="text-edu-orange">Job</span></span
        >
      </div>

      <div class="flex items-center space-x-4">
        <ng-container *ngIf="!isLoggedIn()">
          <a
            routerLink="/login"
            class="text-gray-600 hover:text-edu-blue px-3 py-2 rounded-md text-sm font-medium transition-colors"
          >
            Iniciar Sesión
          </a>
          <button
            class="bg-edu-orange text-white hover:bg-orange-600 px-4 py-2 rounded-md text-sm font-medium transition-colors shadow-sm"
          >
            Registrarse
          </button>
        </ng-container>

        <ng-container *ngIf="isLoggedIn()">
          <a
            routerLink="/dashboard"
            class="text-gray-600 hover:text-edu-blue px-3 py-2 rounded-md text-sm font-medium transition-colors"
          >
            Mi Tablón
          </a>
          <button
            (click)="logout()"
            class="bg-red-50 text-red-600 border border-red-200 hover:bg-red-100 hover:text-red-700 px-4 py-2 rounded-md text-sm font-medium transition-colors shadow-sm"
          >
            Cerrar Sesión
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
